@layer utilities {

  .m_90px_45\% {
    margin: 90px 45%
    }

  .text_center {
    text-align: center
    }

  .h_300px {
    height: 300px
    }

  .w_100px {
    width: 100px
    }

  .bg_red {
    background-color: red
    }

  .rounded_10px {
    border-radius: 10px
    }

  .border_2px_solid_black {
    border: 2px solid black
    }

  .flex_row {
    flex-direction: row
    }

  .border_1px_solid_token\(colors\.\$colorHead\) {
    border: 1px solid var(--colors-\$color-head)
    }

  .border_1px_solid_tokens\(colors\.\$colorFaceParts\) {
    border: 1px solid tokens(colors.$colorFaceParts)
    }

  .p_50px {
    padding: 50px
    }

  .mt_100px {
    margin-top: 100px
    }

  .h_250px {
    height: 250px
    }

  .p_100px {
    padding: 100px
    }

  .w_30px {
    width: 30px
    }

  .h_30px {
    height: 30px
    }

  .left_0 {
    left: 0
    }

  .top_0 {
    top: 0
    }

  .left_0px {
    left: 0px
    }

  .left_90px {
    left: 90px
    }

  .w_120px {
    width: 120px
    }

  .h_120px {
    height: 120px
    }

  .w_125px {
    width: 125px
    }

  .h_70px {
    height: 70px
    }

  .bottom_68px {
    bottom: 68px
    }

  .right_2px {
    right: 2px
    }

  .bottom_145px {
    bottom: 145px
    }

  .w_14px {
    width: 14px
    }

  .h_14px {
    height: 14px
    }

  .border_2\.5px_solid_token\(colors\.\$colorHead\) {
    border: 2.5px solid var(--colors-\$color-head)
    }

  .left_30px {
    left: 30px
    }

  .left_75px {
    left: 75px
    }

  .content_ {
    content: 
    }

  .w_5px {
    width: 5px
    }

  .h_5px {
    height: 5px
    }

  .top_3px {
    top: 3px
    }

  .z_3 {
    z-index: 3
    }

  .w_17px {
    width: 17px
    }

  .h_10px {
    height: 10px
    }

  .bottom_100px {
    bottom: 100px
    }

  .left_50px {
    left: 50px
    }

  .w_25px {
    width: 25px
    }

  .h_25px {
    height: 25px
    }

  .rounded_50\% {
    border-radius: 50%
    }

  .border-b_2px_solid_token\(colors\.\$colorFaceParts\) {
    border-bottom: 2px solid var(--colors-\$color-face-parts)
    }

  .pos_absolute {
    position: absolute
    }

  .bottom_85px {
    bottom: 85px
    }

  .left_47\.5px {
    left: 47.5px
    }

  .transition_all_0\.5s_ease-in-out {
    transition: all 0.5s ease-in-out
    }

  .pos_relative {
    position: relative
    }

  .cursor_pointer {
    cursor: pointer
    }

  .transition_all_0\.3s_ease-in-out {
    transition: all 0.3s ease-in-out
    }

  .border_1px_solid_token\(colors\.\$colorFaceParts\) {
    border: 1px solid var(--colors-\$color-face-parts)
    }

  .p_10px {
    padding: 10px
    }

  .bg_\$colorHead {
    background: var(--colors-\$color-head)
    }

  .text_\$colorFaceParts {
    color: var(--colors-\$color-face-parts)
    }

  .bg_\$colorFaceParts {
    background: var(--colors-\$color-face-parts)
    }

  .text_\$colorHead {
    color: var(--colors-\$color-head)
    }

  .d_flex {
    display: flex
    }

  .flex_column {
    flex-direction: column
    }

  .p_25px {
    padding: 25px
    }

  .items_center {
    align-items: center
    }

  .mt_10px {
    margin-top: 10px
    }

  .w_100\% {
    width: 100%
    }

  .bg_blue {
    background-color: blue
    }

  .text_yellow {
    color: yellow
    }

  .p_5px {
    padding: 5px
    }
}